node_modules/
dist/
*.log
.env
.DS_Store
Thumbs.db
uploads/

# Mobile
mobile/node_modules/
mobile/.expo/
mobile/.expo-shared/
mobile/dist/
mobile/npm-debug.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/

